@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #3c5179;
}

.card-gradient {
  width: 5rem;
  height: 5rem;
}

/* GradientPageError404 */

.error-exist {
  color: red;
  font-size: 3rem;
}

/* Error404Page */

.error-page {
  /* Gris et Noir */
  background-image: linear-gradient(300deg, #6e6e6b 10%, #080707 90%);

  /* Vert et Bleu */
  /*background-image: linear-gradient(120deg, #4faa1b 0%, #3caadd 100%);*/
}

.oops {
  text-align: center;
  font-size: 5rem;
  color: white;
  font-family: "Exo", sans-serif;
}

.not-found {
  text-align: center;
  font-size: 4rem;
  color: red;
}

.error-template {
  text-align: center;
  font-size: 3rem;
  color: white;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}
